.toDoCard {
    background-color: #283593 !important;
    color: white !important;
    transition: all 0.3s ease-in-out !important;
    margin: 25px 0;
}

.toDoCard:hover {
    /* transform: scale(1.01); */
    /* or */
    padding: 10px 0;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

.checkBtn,
.editBtn,
.deleteBtn {
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.checkBtn:hover,
.editBtn:hover,
.deleteBtn:hover {
    background-color: #c5c5c5 !important;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

.checkBtn {
    border: solid #8bc34a 3px !important;
}

.editBtn {
    background-color: white !important;
    color: #1769aa !important;
    border: solid #1769aa 3px !important;
}

.deleteBtn {
    background-color: white !important;
    color: red !important;
    border: solid red 3px !important;
}