/* ================Custom Fonts================= */
@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-Black.ttf") format("truetype");
    font-weight: 900;
}
/* ==============Custom Fonts================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    /* for arabic right to left  */
    font-family: "Alexandria", sans-serif;
}

body {
    margin: 0;
    font-family: "Alexandria", sans-serif;
}